@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

html{
    font-size: 60.5%;
}

@media screen and  (max-width: 1600px) {
    body{
        margin: 1rem;
        background: linear-gradient(#2e71af, #84a6c6);
        color: #e4eef3;
    }

    main {
        max-width: 1300px;
        margin: 30px auto;
        padding: 25px;
        background: linear-gradient(#2e71af, #84a6c6);
        border-radius: 10px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    }

    header{
        margin-top: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem 9%;
        background-color: #2e71af;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .logo{
        font-size: 5rem;
        color: #ffc086;
        font-weight: 800;
    }

    .logo:hover{
        transform: scale(1.1);
    }

    nav a{
        font-size: 1.8rem;
        color: #e4eef3;
        margin-left: 4rem;
        font-weight: 500;
        border-bottom: 3px solid transparent;
    }
    
    nav a:hover,
    nav a.active{
        color: cornsilk;
        border-bottom: 3px solid white;
    }
}



@media(max-width:700px){


    nav{
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1rem solid;
        background-color: #2e71af;
        border-top: 0.1rem solid;
    }

    nav.active{
        display: block;
    }

    nav a{
        flex-direction: column;
        font-size: 2rem;
        margin: 1rem;
        align-items: center;
    }

    nav a:hover,
    nav a.active{
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid white;
    }

    section{
        min-height: 100vh;
        padding: 5rem 9% 5rem;
    }
}

.intro{
    margin-top: 0rem;
    padding-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    border-radius: 5rem;
    width: 100%;
    height: 100vh;
}

.intro .intro-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #ffc086;
}

.intro-img{
    border-radius: 50%;
}

.intro-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
}

@media (max-width: 600px) {
    #hideimg{
        display: none;
    }
}

.about{
    margin: 15%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
}

.about h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 2;
    color: white;
}

.about p{
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    font-weight: 500;
    line-height: 1.3;
}


.goals{
    margin: 15%;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
}

.goals h1{
    margin: 20rem, 5rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 2;
    color: white;
}

.goals p{
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    font-weight: 500;
    line-height: 1.3;
}

footer{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0, 5px;
    font-size: medium;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    background-color: #2e71af;
}

footer a{
    margin-left: 6rem;
}